.pokedex {
  background-color: lightblue;
  padding: 1rem;
  margin-bottom: 1rem;
}

.pokedex.winner {
  background-color: goldenrod;
}

h1,
.pokedex-title,
.pokedex-totalxp {
  text-align: center;
}

.cards {
  display: flex;
}

.pokemon {
  text-align: center;
  flex: 1;
}
